{% load static %}
{% include 'home/landingpage.html' %}

<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" type="text/css" href="{% static 'home/css/bootstrap.css' %}"/>
        
        <title>
            WSJ Cleopatra Hairdresser Webapp
        </title>
    </head>
    <body>
 
        {%block content%}

        <h1> Opinie </h1>
        
        {%for comment in comment_list%}
        <strong>Username: {{comment.username}}</strong>
        <ul>
        <li>Usługa: {{comment.service_name}}</li>
        Fryzjer: {{comment.worker_name}}<br>
        Ocena: {{comment.rating}}<br>
        Komentarz: {{comment.text}}
        </ul>
        {%endfor%}
        
        
        {% endblock%}
        <p>Hello world, again !</p>
        <p>Today is {{today}}</p>

    </body>

</html>